.block2{
    margin-top: 120px;
}
.block2__textblock{
    display: flex;
    width: 958px;
    margin: 0 auto;
    
}
.block2__article{
    display: flex;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 0 0;
}
.article{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0;
}
.block2__text{
    flex-basis: auto;
    max-width: 542px;
    padding: 30px 30px;
}
p{
    margin: 0 0;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    line-height: 1.8;
}
.freepik__text__2{
    font-size: 16px;
    margin-top: 20px;
}
.button{
    display: inline-block;
    background-color: #f78300;
    margin-top: 32px;
    margin-bottom: 20px;
    padding: 14px 37px 14px 37px;
}
.button{
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button:hover{
    background-color: #131313;
    color: white;
}
.block2__background{
    background-color: #f78300;
    height: 293px;
    position: relative;
    z-index: 0;
    margin-top: 100px;
}
.block2__image{
    display: block;
    width: 958px;
    height: 569px;
    object-fit: cover;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-top: -393px;
}
@media (max-width: 1199px){
    .block2__textblock{
        width: 820px;
    }
    .block2__image{
        width: 820px;
        height: 472px;
    }
}
@media (max-width: 991px){
    .block2__textblock{
        width: 624px;
    }
    .block2__article{
        padding-right: 0;
    }
    .block2__image{
        width: 624px;
        height: 414px;
    }
}
@media (max-width: 767px){
    .block2__textblock{
        flex-wrap: wrap;
        width: 462px;
    }
    .block2__text{
        padding: 10px 10px;
        
    }
    .block2__image{
        width: 462px;
        height: 358px;
        margin-top: -320px;
    }
    .block2__background{
        height: 228px;
    }
}
@media (max-width: 575px){
    .block2__textblock{
        width: 286px;
        padding-right: 0;
    }
    .block2__image{
        width: 286px;
        height: 263px;
        margin-top: -200px;
    }
    p{
        font-size: 16px;
    }
    .block2__background{
        height: 141px;
    }
}